/* borderd form */
form{
    border: -8px solid #f4f4f4;
    width: 60%;
    float: center;
    padding: 16px;
    background-color: #ccc;
}

/* full width inputs */
input[type=text],input[type=password]{
    width:100%;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* set a style to all buttons */
button{
    background-color: #04AA6D;
    color:white;
    padding: 14px 20px;
    margin:8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
.form{
    padding-top: 20px;
}

.submit{
    padding: 4px 4px;

}

/* add a hover effect on buttons */
button:hover{
    opacity:0.8;
}
.svg{
    color: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;

}

